*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    background: #2E323F;
    min-width: 400px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
}

#main__body--input {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid #de642b;
    align-self: center;
}

#main__body--input:focus {
	background: rgba(231, 219, 110, 1);
	border: 2px solid #de642b;
}

#main__body--button {
    border: none;
    background-color: #de642b;
    padding: 5px 20px;
}

#delete-btn {
    background: transparent;
    color: #de642b;
    padding: 4px 20px;
    border: 1px solid #de642b;
}

#tab-btn {
    background: transparent;
    color: #de642b;
    padding: 4px 20px;
    border: 1px solid #de642b;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

li {
    margin-top: 5px;
}

a {
    color: #de642b;
}